.form-name{
    color: #7D7D7D;
     font-size: 25px;
 }
 .progressbar-container {
     height: 100px;
     border-radius: 15px;
     margin-bottom: 25px;
     padding: 25px;
     box-sizing: border-box;
 }
 
 .progressbar {
     background-color: white;
     padding: 15px 0;
     margin-bottom: 30px;
     height: 50px;
     border-radius: 30px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     box-sizing: border-box;
 }
 
 .progressbar-child {
     color: white;
     background: #6AB4F8;
     padding-top: 10px;
     height: 40px;
     width: 200px;
     border-radius: 30px;
     position: relative;
     bottom: 15px;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
 
 }
 .text{
 font-size: 1.2em;
 font-weight: 600;
 }
 
 .step,.tick {
     background-color:white;
     color: black;
     width: 25px;
     height: 25px;
     text-align: center;
     border-radius: 50%;
 }
 
 .form-container {
     width: 1225px;
     background-color:#F5F5F5;
     padding: 30px;
 }
 
 .form {
     background-color: white;
     border-radius: 15px;
     display: flex;
     flex-direction: column;
 }
 
 .user-details {
     padding: 30px 40px;
     display: flex;
     flex-wrap: wrap;
     border-radius: 15px;
 }
 
 .user-details .input-box {
     width: 50%;
     margin: 20px 0 10px 0;
 }
 
 .user-details .input-box input,
 .user-details .input-box select {
     width: 520px;
     height: 60px;
     color: #7D7D7D;
     border: 1px solid #C3C3C3;
     padding: 0;
     padding-left: 20px;
     font-size: 16px;
     border-radius: 5px;
     box-sizing: border-box;
     font-size: 18px;
     box-shadow: 1px 1px 1px 1px #F5F5F5;
 
 }
 
 .user-details .input-box label {
     color: #7D7D7D;
     font-weight: 500;
     margin-bottom: 10px;
     display: block;
     font-size: 20px;
 }
 
 .form-footer {
     display: flex;
     justify-content: center;
 }
 
 button {
     width: 200px;
     height: 60px;
     border-radius: 30px;
     margin: 30px 40px 45px 10px;
     color: white;
     font-size: 17px;
     font-weight: 500;
     Font-size: 20px;
 }
 
 .cancel-previous-button {
     background-color: #6AB4F8;
     border: 1px solid #6AB4F8;
 }
 
 .save-button {
     background: #4C57B6;
     border: 1px solid #4C57B6;
 
 }
 
 .error {
     margin-left: 15px;
     color: red;
     font-size: 0.8em;
     margin-top: 5px;
 }
 
 .image {
     background-color: aliceblue;
     height: 50px;
     width: 50px;
 }