.main-box{
    width:1600px;
    display: flex;
    flex-direction: row;
}

.main-container{
    display: flex;
 flex-direction: row;
}
.aside{
    width:315px;
    background-color: #E1F9F4;
    text-align:justify;
}

.header{
    color: #AAAAAA;
    display: flex;
    justify-content: space-between;
    padding:50px 30px ;
    height: 15vh;
    width: 1285px;
    background-color:#F5F5F5;
    border-bottom: 7px solid #E1F9F4;
    box-sizing: border-box;
}

.main{
    background-color: gray;
    
}
.logo{
    color:#1A1B1C;
    font-size: 35px;
    font-weight: 700;
    margin-left: 70px
}
.navvalue{
   font-size: 22px;
   color:#AAAAAA;
   
}
.icon{
    color:#AAAAAA
}
.side-icon{
    margin-bottom: 15px;
    margin-left: 25px;
}
.blue-text{
    color: #4C57B6;
}